.most-popular-breed {
  display: flex;
  gap: 46px;
}

.most-popular-breed-pic {
  min-height: 170px;
  max-width: 170px;
  border-radius: 25px;
  object-fit: cover;
}
.most-popular-breed__text {
  display: flex;
  flex-direction: column;
}
.most-popular-breed__name {
  color: #291507;
  font-family: "Montserrat";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 24px;
}
.most-popular-breed__desc {
  color: #291507;
  font-family: "Montserrat";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 769px) {
  .most-popular-breed__name {
    font-size: 30px;
  }
  .most-popular-breed__desc {
    font-size: 16px;
  }
  .most-popular-breed-pic {
    max-width: none;
    height: 370px;
    width: 370px;
  }
  .most-popular-breed {
    gap: 30px;
  }
}
@media (max-width: 425px) {
  .most-popular-breed-pic {
    height: 270px;
    width: 270px;
  }
}
