.most-popular-breeds__title {
  color: #291507;
  font-family: "Montserrat";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 55px;
}
.most-popular-breeds__list {
  display: flex;
  flex-direction: column;
  gap: 55px;
  margin-bottom: 90px;
}
