.most-popular-breeds__title {
  color: #291507;
  font-family: "Montserrat";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 55px;
}
.most-popular-breeds__list {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  gap: 55px;
  margin-bottom: 90px;
}
@media (max-width: 769px) {
  .most-popular-breeds__title {
    margin-bottom: 25px;
  }
  .most-popular-breed {
    flex-direction: column;
    align-items: center;
  }
  .most-popular-breeds__list {
    gap: 25px;
  }
}
@media (max-width: 425px) {
  .most-popular-breeds__title {
    font-size: 30px;
  }
}
