.have-a-cat {
  margin-bottom: 100px;
}
.have-a-cat__title {
  color: #291507;
  font-family: "Montserrat";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 430.025px;
  margin-bottom: 44px;
}
.have-a-cat__desc {
  color: #291507;
  font-family: "Montserrat";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: 430.025px;
}
.have-a-cat__box {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.have-a-cat__grid {
  display: grid;
  grid-template-columns: 273px 240px;
  grid-template-rows: repeat(3, 200px);
  column-gap: 15px;
  row-gap: 15px;
  img {
    width: 100%;
    height: auto;
  }
}
.have-a-cat__grid-img-1 {
  grid-row-start: 2;
  grid-row-end: 3;
}

.have-a-cat__grid-img-3 {
  grid-row-start: 1;
  grid-row-end: 3;
}
@media (max-width: 1023px) {
  .have-a-cat__box {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }

  .have-a-cat__title {
    max-width: none;
    font-size: 42px;
  }
  .have-a-cat__desc {
    max-width: none;
  }
}
@media (max-width: 580px) {
  .have-a-cat__grid {
    grid-template-columns: auto auto;
    grid-template-rows: repeat(3, 150px);
    align-items: flex-start;
    row-gap: 25px;
  }
}
@media (max-width: 475px) {
  .have-a-cat__title {
    font-size: 32px;
  }
  .have-a-cat {
    margin-bottom: 50px;
  }
  .have-a-cat__grid {
    grid-template-columns: auto auto;
    grid-template-rows: repeat(3, 120px);
  }
}
@media (max-width: 375px) {
  .have-a-cat__title {
    font-size: 26px;
    margin-bottom: 25px;
  }
  .have-a-cat__box {
    gap: 25px;
  }
  .have-a-cat__grid {
    grid-template-columns: auto auto;
    grid-template-rows: repeat(3, 100px);
  }
}
@media (max-width: 325px) {
  .have-a-cat__grid {
    grid-template-columns: auto auto;
    grid-template-rows: repeat(3, 80px);
  }
}
