.breed-card__img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 24px;
  margin-bottom: 20px;
}
.breed-card__name {
  color: #291507;
  font-family: "Montserrat";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
